:root {
    --main-bg-lighter: #2c2e2d;
    --main-bg-darker: #282a29;
    --main-bg-boxes: #2d302e;
    --icons-color: #ca8d4c;
}

html {
    font-size: 0.87vw;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 11px;
}

body::-webkit-scrollbar-track {
    background-color: #1d201e;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--icons-color);
    border: 1px solid #1d201e;
}



p {
    font-size: max(1rem, 12px);
    text-align: justify;
}



* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-darker);
}

.container {
    display: grid;
    grid-template-areas:
        "header header  header"
        "main   main    main"
        "foot   foot    foot";
    grid-template-columns: 1fr 1fr 1fr;
    /* width: 100vw; */
}

.header {
    font-size: 1.5rem;
    color: lightgray;
    background-color: var(--main-bg-darker);
    grid-area: header;
    width: 100vw;
    display: grid;
    grid-template-columns: 5fr 4fr;
    position: fixed;
    height: 2.5vw;
    align-items: center;
    z-index: 1;
}



.navbar ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: space-between;
    align-items: center;
    flex: 1;
}

.navbar li {
    font-size: 1em;
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar li :hover {
    color: var(--icons-color);
    font-size: 1.15em;
    transition: 0.2s;
}


.navbar li>a {
    text-decoration: none;
    color: lightgray;
    font-weight: 600;
}


.main {
    display: grid;
    color: lightgray;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "home      home       home "
        "skill     skill      skill"
        "about     about      about"
        "proj      proj       proj"
        "contact   contact    contact";
    grid-area: main;
}

.nav-contact {
    margin-right: 2vw;
}

.home {
    grid-area: home;
    background-color: var(--main-bg-lighter);
    font-size: 1.5rem;
    height: 50vw;
    max-height: 100vh;
    display: flex;
}



.leftside {
    margin-left: 10%;
    height: 100%;
    width: 40%;
    align-items: center;
    justify-self: end;
    display: flex;

}


@keyframes hi {
    0% {
        left: -50vw;
    }

    100% {
        left: 0;
    }
}

.home h3 {
    position: relative;
    animation-name: hi;
    animation-duration: 2s;
}


.home h2 {
    position: relative;
    animation-name: hi;
    animation-duration: 2s;
}



.hello span {
    color: #ca8d4c;
}

.home .hello {
    font-weight: 600;
}


.helloworld-box h2 {
    font-weight: 700;
    font-size: 5.2rem;
}



.home .in-butt {
    color: var(--icons-color);
    cursor: pointer;
    display: flex;
    font-size: 1em;
    height: 2.5vw;
    width: 13vw;
    justify-content: center;
    align-items: center;
    border: 0.3vw var(--icons-color) solid;
    background-color: var(--main-bg-lighter);
    box-sizing: border-box;
    transition: all 0.4s ease-out;
}

.home .in-butt:hover {
    background-color: var(--icons-color);
    color: var(--main-bg-darker);
    font-weight: 600;
}

.home .butt {
    margin-top: 1vh;
    display: flex;
    height: 100%;
    justify-items: center;
    align-items: center;
}




.helloworld-box a {
    color: var(--icons-color);
    text-decoration: none;
    display: flex;
    flex: 1;
}


.rightside {
    display: flex;
    width: 50%;
    align-items: flex-end;
}


.rightside img {
    width: 80%;
    max-width: 90vh;
}



.skills {
    background-color: var(--main-bg-darker);
    display: flex;
    grid-area: skill;
    justify-content: center;
    flex-wrap: wrap;
}

.skills .skill-box {
    margin-top: 4%;
    margin-bottom: 5%;
    display: flex;
    width: 70vw;
    justify-content: space-between;
    flex-wrap: wrap;
}


.component-line {
    height: 0.3rem;
    width: 2.85rem;
    margin-right: 0.3rem;
    background-color: var(--icons-color);
    align-self: center;
}

.skills .what {
    width: 80vw;
    font-size: 2.1rem;
    font-weight: 600;
}

.skills ol {
    margin-top: 15%;
    border-left: 0.4rem solid var(--icons-color);
    background-color: var(--main-bg-boxes);
    list-style: none;
    color: lightgray;
    height: 30em;
    min-width: 20em;
}


.skills li {
    padding-top: 5%;
    padding-left: 5%;
    font-size: 1.35rem;
}

.skills li:first-child {
    color: var(--icons-color);
    font-weight: 700;
    font-size: 1.4em;
}



.about {
    display: flex;
    grid-area: about;
    color: lightgray;
    background-color: var(--main-bg-lighter);
    flex-wrap: wrap;
    justify-content: center;
}

h2 {
    font-size: 1.2em;
    font-weight: 600;
    display: flex;
    justify-content: start;
}


.semi-title {
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}


.about-box {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.about-box img {
    height: 20em;
    flex: 1;
}

.note-about {
    font-size: max(1rem, 12px);
    margin-top: 1vw;
    flex: 1;
}

.mypic {
    flex: 1;
    margin-right: 3rem;
}

.projects {
    background-color: var(--main-bg-darker);
    grid-area: proj;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.proj-buttonts {
    margin: 3vmin 0;
    display: flex;
    justify-content: space-between;
}
.live-button{
    cursor: pointer;
    border: 0.25vw var(--icons-color) solid;
    color: lightgray;
    font-size: 1.4rem;
    font-weight: 600;
    height: 2.5vw;
    width: 10vw;
    background-color: var(--main-bg-boxes);

}

.live-button:hover {
    color: var(--main-bg-darker);
    background-color: var(--icons-color);
    transition: all 0.3s ease-out;
}

.projects .proj-box {
    width: 70%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.project13 {
    background-color: var(--main-bg-boxes);
    padding: 3vw;
    display: flex;
}

.note-proj13 {
    font-size: max(1rem, 12px);
    margin-right: 3vw;
    flex: 1;
}

.proj13-box {
    flex: 1;
}

.projects img {
    display: flex;
    box-shadow: 6px 6px 10px #14141471;
    width: 100%;
    flex: 1;
}



.project2 {
    background-color: var(--main-bg-boxes);
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 3vw;
    display: flex;
}

.proj2-box {
    flex: 1;
}

.note-proj2 {
    font-size: max(1rem, 12px);
    margin-left: 3vw;
    flex: 1;
}




.contact {
    background-color: var(--main-bg-lighter);
    display: flex;
    grid-area: contact;
    justify-content: center;
    align-items: center;
}


.contact .contact-box {
    padding-left: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.note-contact h3 {
    font-size: max(1.5em, 13px);
    font-weight: 400;
    display: flex;
}

.contact .note-contact {
    margin-right: 4vw;
    flex: 1;
}


.form-box {
    padding: 1.8rem;
    background-color: var(--main-bg-darker);
    border-left: 0.3vw var(--icons-color) solid;
    height: 55%;
    width: 20vw;
    margin-right: 3vw;
    display: flex;
    justify-content: center;
}


.email-box {
    padding: 1vw;
    color: lightgray;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    height: 2vh;
    width: 17vw;
    background-color: var(--main-bg-boxes);
}


.msg-box {
    resize: none;
    margin-top: 1vw;
    border: none;
    padding: 1vw;
    color: lightgray;
    font-size: 1.1rem;
    font-weight: 700;
    height: 10vw;
    width: 17vw;
    background-color: var(--main-bg-boxes);
}

.send-but {
    display: flex;
    justify-content: center;
}

.send-box {
    margin-top: 2vw;
    border: 0.25vw var(--icons-color) solid;
    color: lightgray;
    font-size: 1.4rem;
    font-weight: 600;
    height: 2.5vw;
    width: 10vw;
    background-color: var(--main-bg-boxes);

}

.send-box:hover {
    color: var(--main-bg-darker);
    background-color: var(--icons-color);
    transition: all 0.3s ease-out;
}

.footer {
    /* width: 100vw; */
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 0.9vh;
    padding-bottom: 0.9vh;
    display: flex;
    align-content: center;
    justify-content: center;
    color: var(--main-bg-darker);
    background-color: var(--icons-color);
    grid-area: foot;
}


.footer h3 {
    font-weight: 400;
    font-size: 1.2rem;
}


/* Mobile */


@media screen and (max-width: 1000px) {
    html {
        font-size: 1vw;
    }
}



@media screen and (max-width: 750px) {
    html {
        font-size: 2vw;
    }

    @keyframes hi {
        0% {
            left: -100vw;
        }
        100% {
            left: 0;
        }
    }

    .nav-contact {
        margin: 0;
        padding-right: 3vw;
    }


    body {
        margin: 0;
        padding: 0;
    }

    main {
        margin: 0;
    }

    .header {
        margin: 0;
        font-size: 1.8rem;
        height: 6vw;
        grid-template-columns: 1fr;
        align-content: center;
        justify-items: space-around;

    }

    .home {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100%;
        display: flex;

    }

    .leftside {
        padding: 0;
        margin: 0;
        display: flex;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        font-size: 2rem;
    }


    .hello span {
        color: #ca8d4c;
    }

    .rightside {
        display: none;
    }


    .home .in-butt {
        font-size: 1em;
        height: 10vw;
        width: 40vw;
        border: 0.8vw var(--icons-color) solid;
    }


    .helloworld-box h2 {
        font-size: 5.5rem;
    }


    .skills .skill-box {
        margin-left: 15vw;
        margin-top: 6vw;
        margin-bottom: 7vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: start;
    }

    h2 {
        margin-left: 0;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-self: start;
    }

    .skills ol {
        margin-top: 6vw;
        width: 70vw;
        height: 60vh;
    }

    .skills li {
        font-size: 1.8rem;
    }



    .about {
        flex-direction: column;
    }

    .about-box {
        justify-items: start;
        margin-left: 15vw;
    }

    .about-box img {
        display: none;

    }


    .project13 {
        flex-direction: column;
    }

    .note-proj13 {
        margin: 0;
    }


    .project2 {
        flex-direction: column-reverse;
    }


    .note-proj2 {
        margin: 0;
    }

    .projects p {
        margin-bottom: 4vw;
    }

    .contact-box {
        flex-direction: column;
    }

    .form-box {
        border-left: 0.7vw var(--icons-color) solid;
        margin-top: 3vw;
        width: 70vw;
        height: 71vw;
    }

    .send-box {
        margin-top: 2vw;
        height: 5vw;
        width: 25vw;
        border: 0.6vw var(--icons-color) solid;
    }

    
    .live-button {
        height: 5vw;
        width: 25vw;
        border: 0.6vw var(--icons-color) solid;
    }


    .email-box {
        height: 5vw;
        width: 60vw;
    }

    .msg-box {
        margin-top: 2.5vw;
        height: 50vw;
        width: 60vw;
    }


    .footer h3 {
        font-size: 1.2rem;
    }

}