* {
    margin: 0;
    padding: 0;

}

.container {
    display: grid;
    grid-template-areas:
        "header header  header"
        "main  main   main"
        "foot   foot    foot";
    grid-template-columns: 1fr 1fr 1fr;
}

.header {
    background-color: lightgray;
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    position: fixed;
}


.navbar ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-items: space-between;
    flex: 1;
}

.navbar li {

    flex: 1;
    display: flex;

}

.navbar li>a {
    text-decoration: none;
    color: black;
    font-size: 30px;

}

.main {
    margin-top: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "about1 about2  about3"
        "skill  skill   skill"
        "proj  proj   proj"
        "cont   cont    cont";
    grid-area: main;
}

.about {
    grid-area: about2;
    color: white;
    width: 500px;
    background-color: #3c557c
}


.skills {
    /* border: 2px solid red; */
    background-color: #263238;
    display: flex;
    width: 1fr;
    grid-area: skill;
    justify-content: center;
    flex-wrap: wrap;
}

.skills h2 {
    font-size: 40px;
    width: 100%;
    margin-top: 100px;
    color: #ffbf51;
    display: flex;
    justify-content: center;
}


.skills ol {
    margin: 40px 70px 100px 70px;
    border-left: 5px solid #ffbf51;
    background-color: #496084;
    list-style: none;
    color: lightgray;
    height: 400px;
    width: 300px;
}

.skills li span {
    font-weight: 600;
    font-size: 24px;
}

.skills li {
    padding: 20px 0 0 20px;
}


.projects {
    grid-area: proj;
}

.projects * {
    border: 2px solid blue;
    padding: 20px 20px;
}

.contact {
    display: flex;
    grid-area: cont;
    height: 100px;
    border: 4px solid orange;
    justify-content: center;
    align-items: center;

}

.footer {
    grid-area: foot;
}